<div class="container-fluid">
  <div class="row">
    <h2>Airline Dashboard</h2>
  </div>
  <hr>
  <div class="row">

    <% if current_user.admin? %>
        <div class="col-md-8 col-md-offset-2">
          <ul class="nav nav-tabs nav-justified">
            <li class="active">
              <a href="#plane" data-toggle="tab">Planes</a>
            </li>
            <li>
              <a id="gotoflights" href="#flight" data-toggle="tab">Flights</a>
            </li>
            <li>
              <a href="#search" data-toggle="tab">Book a Flight</a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="plane" class="tab-pane active">
              <div class="page">

              </div>
            </div>
            <div id="flight" class="tab-pane">
              <div class="flights">

              </div>
            </div>
            <div id="search" class="tab-pane">
              <p>Flight Reservation</p>
            </div>
          </div>
        </div>
    <% else  %>
        <div class="col-md-8 col-md-offset-2">
          <p>Flight Reservation</p>
        </div>
    <% end %>
  </div>


</div>

<script type="text/template" id="airplane-list-template">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <a href="#/new" class="btn btn-default">Create Plane</a>
        <hr>
        <table class="table table-responsive table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Rows</th>
              <th>Columns</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%% _.each(airplanes, function(airplane) { %>
              <tr>
                <td><%%= airplane.get('name') %></td>
                <td><%%= airplane.get('rows') %></td>
                <td><%%= airplane.get('columns') %></td>
                <td><a href="#/edit/<%%= airplane.get('id') %>" class="text-notice">Edit</a>/<a href="#/delete/<%%= airplane.get('id') %>" class="text-danger">Delete</a></td>
              </tr>

            <%% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</script>
<script type="text/template" id="flight-list-template">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <a href="#/new-flight" class="btn btn-default">Create Flight</a>
        <hr>
        <table class="table table-responsive table-striped">
          <thead>
            <tr>
              <th>Flight</th>
              <th>Origin</th>
              <th>Destination</th>
              <th>Airplane ID</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%% _.each(flights, function(flight) { %>
              <tr>
                <td><%%= flight.get('flight_no') %></td>
                <td><%%= flight.get('origin') %></td>
                <td><%%= flight.get('destination') %></td>
                <td><%%= flight.get('airplane_id') %></td>
                <td><a href="#/edit-flight/<%%= flight.get('id') %>" class="text-notice">Edit</a>/<a href="#/delete-flight/<%%= flight.get('id') %>" class="text-danger">Delete</a></td>
              </tr>
            <%% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</script>

<script type="text/template" id="flight-form-template">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <%% if(flight) { %>
                        <h4> Edit Flight </h4>
                    <%% }else{ %>
                        <h4> New Flight </h4>
                    <%% } %>
                    <hr/>
                    <form class="edit-flight-form">
                        <div class="form-group">
                            <input type="number" name="flight_no" id="flight_no" value='<%%= flight?flight.get("flight_no"):"" %>' class="form-control" placeholder="Flight Number" autofocus/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="origin" id="origin" value='<%%= flight?flight.get("origin"):"" %>' class="form-control" placeholder="Origin"/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="destination" id="destination" value='<%%= flight?flight.get("destination"):"" %>' class="form-control" placeholder="Destination"/>
                        </div>

                        <div class="form-group">
                            <input type="datetime" name="start_time" id="start_time" value='<%%= flight?flight.get("start_time"):"" %>' class="form-control" placeholder="Start_time"/>
                        </div>

                        <div class="form-group">
                            <input type="text" name="airplane_id" id="airplane_id" value='<%%= flight?flight.get("airplane_id"):"" %>' class="form-control" placeholder="Airplane ID"/>
                        </div>

                            <%% if(flight) { %>
                               <input type="hidden" name="id" value='<%%= flight.get("id") %>' />
                               <button type="submit" class="btn btn-primary pull-right">Update Flight</button>
                            <%% }else{ %>
                                <button type="submit" class="btn btn-primary pull-right">Create Flight</button>
                            <%% } %>

                        </div>
                    </form>
            </div>
        </div>
    </script>
<script type="text/template" id="airplane-form-template">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <%% if(airplane) { %>
                        <h4> Edit Airplane </h4>
                    <%% }else{ %>
                        <h4> New Airplane </h4>
                    <%% } %>
                    <hr/>
                    <form class="edit-airplane-form">
                        <div class="form-group">
                            <input type="text" name="name" id="name" value='<%%= airplane?airplane.get("name"):"" %>' class="form-control" placeholder="Name" autofocus/>
                        </div>
                        <div class="form-group">
                            <input type="number" name="rows" id="rows" value='<%%= airplane?airplane.get("rows"):"" %>' class="form-control" placeholder="Rows"/>
                        </div>
                        <div class="form-group">
                            <input type="number" name="columns" id="columns" value='<%%= airplane?airplane.get("columns"):"" %>' class="form-control" placeholder="Columns"/>
                        </div>

                            <%% if(airplane) { %>
                               <input type="hidden" name="id" value='<%%= airplane.get("id") %>' />
                               <button type="submit" class="btn btn-primary pull-right">Update Airplane</button>
                            <%% }else{ %>
                                <button type="submit" class="btn btn-primary pull-right">Create Airplane</button>
                            <%% } %>

                        </div>
                    </form>
            </div>
        </div>
    </script>

    <script type="text/template" id="flight-show-template">
    <div id="seats">
      <ul class="row">
      <li class="col"></li>
      </ul>
    </div>
    </script>

<script type="text/javascript">

    $(document).ready(function(){

        // Airplane Views
        App.airplaneList = new App.AirplaneListView();
        App.airplaneForm = new App.AirplaneFormView();
        App.airplaneDelete = new App.AirplaneDeleteView();

        // Flight Views
        App.flightList = new App.FlightListView();
        App.flightForm = new App.FlightFormView();
        App.flightDelete = new App.FlightDeleteView();

        // Router Initialize
         App.airplaneRouter = new App.AirplaneRouter();

        // Router Home Navigation
        App.airplaneRouter.on('route:home',function(){
            App.airplaneList.render();
        });

        //New and Create Airplane
        App.airplaneRouter.on('route:editairplane',function(id){
            App.airplaneForm.render({id: id});
        });

        // Delete Airplane
        App.airplaneRouter.on('route:deleteairplane',function(id){
            App.airplaneDelete.render({id:id});
        });

        // Route Flights home
        App.airplaneRouter.on('route:flightshome',function(){
            App.airplaneList.render();
           // console.log("iam in the flight router page")
        });

        $("#gotoflights").on("click",function(){
           /*
                App.airplaneRouter.navigate("",{trigger: true});
            */
            App.flightList.render();
        });

        App.airplaneRouter.on('route:editflight',function(id){
            App.flightForm.render({id: id});
        });


        App.airplaneRouter.on('route:deleteflight',function(id){
            App.flightDelete.render({id: id});
        });


        try {
            Backbone.history.start(); //{pushState: true, root: "/airplane"}
        } catch(err) {
            Backbone.history.loadUrl();
        }
    });

</script>