@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Muli:300,400);

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  padding-bottom: 75px;
  margin-top: 45px;
}

nav .container {
  padding-bottom: 0;
  margin-top: 0;
}

.navbar .btn {
  color: #FFF !important;
  font-size: 20px !important;
  border-radius: 0px !important;
}
.navbar .btn:hover {
  color: #ef4036 !important;
}

.notification {
  margin-top: -75px;
  text-align: center;
}

.panel-default {
  margin-top: -35px;
  margin-bottom: 65px;
}

.panel-title {
  color: #333 !important;
}

.row h2 {
  color: #ef4036;
}

/* Header */

.navbar {
  font-family: 'Questrial', Helvetica, Arial, Verdana, sans-serif;
}

.navbar-right {
  font-size: 20px;
  color: #FFF;
}

.navbar-default .navbar-nav > li > a {
  color: #FFF;
}
.navbar-default .navbar-nav > li > a:visited {
  color: #FFF;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #ef4036;
  background-color: #FFF;
}
.navbar-default .navbar-nav > li > a:active {
  color: #ef4036;
  background-color: #FFF;
}

.navbar-default .navbar-nav > a, 
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{
  background-color: #FFF;
  color: #ef4036;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a,
.navbar-default .navbar-nav .open .dropdown-menu > li> a:visited {
  color: #333;
  background-color: #FFF;
  margin-top: -5px;
}
.navbar-default .navbar-nav .open .dropdown-menu > li> a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li> a:active, {
  color: #ef4036;
  background-color: #FFF;
}

.navbar-default {
  background-image: image-url("stardust.png") !important;
  background-repeat: repeat;
}

.navbar-default .navbar-collapse {
  border-color: transparent;
}

.navbar-default > ul.dropdown-menu {
  background: #FFF;
}

.navbar-toggle {
  background-color: #CCC;
  border: 1px solid transparent;
}

.logo span {
  visibility: hidden;
}

.logo {
  background-image: url('/assets/balogo.png');
  background-repeat: no-repeat;
}
.navbar-brand.logo {
  margin-top: 10px;
}
a.navbar-brand.logo {
  height: 25px;
  width: 253px;
}

/* footer */

footer {
  background-image: image-url("stardust.png") !important;
  background-repeat: repeat;
  color: #FFF;
  padding: 10px 0;
}

footer p {
  font-family: 'Questrial', Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
  font-weight: lighter;
  line-height: 16px;
  padding: 0;
  margin: 0;
  text-align: center;
}