<footer  class="footer navbar-default navbar-fixed-bottom">
  <nav>
    <span class="text-muted pull-left">Site by Nick, Lauren, Ed, Pranava</span>
    <ul>
      <li><%= link_to "About",   "#" %></li>
      <li><%= link_to "Contact", "#" %></li>
      <li><%= link_to "Help", "#" %></li>
      <li><%= link_to "Terms and Conditions", "#" %></li>
    </ul>
  </nav>
</footer>