<footer class="navbar navbar-default navbar-fixed-bottom">
  <p>&copy; Burning Airlines. Fly at your own risk.</p>
  <p>Made in Sydney - GA WDI, March 2014.</p>
  <p>By: Ed, Lauren, Nick and Pranava.</p>
  <p><%= image_tag "ba-plane.png" %></p>
</footer>